@import "../../assets/variables.scss";

.about {
	padding: $side-padding-small;
	max-width: $max-width;
	margin: 0 auto;

	@media (width > 768px) {
		padding: $side-padding-medium;
	}

	.dropdown-list {
		gap: 1.25rem;
		max-width: 1024px;
		margin: 0 auto;
	}
}
