@import "../../../../assets/variables.scss";

.housing-carousel {
	position: relative;
	border-radius: $border-radius-small;
	overflow: hidden;
	height: 255px;
	color: #fff;
	align-self: stretch;
	animation: fade-in-top 1s ease-in-out;

	@media (width > 768px) {
		height: 415px;
	}

	i {
		position: absolute;
		font-size: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.6;
		cursor: pointer;

		@media (width > 768px) {
			font-size: 3.5rem;
		}

		&.fa-angle-left {
			left: 10px;
		}
		&.fa-angle-right {
			right: 10px;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.carousel-counter {
		position: absolute;
		bottom: 24px;
		left: 50%;
		transform: translate(-50%);
		display: none;
		text-shadow: 1px 1px 8px #00000075;

		@media (width > 768px) {
			display: block;
		}
	}
}
