@import "../../../../assets/variables.scss";

.housing-carousel {
	position: relative;
	border-radius: $border-radius-small;
	overflow: hidden;
	height: 255px;
	color: #fff;
	width: 100%;
	animation: fade-in-top 1s ease-in-out;


	i {
		position: absolute;

		font-size: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.6;

		&.fa-angle-left {
			left: 10px;
		}
		&.fa-angle-right {
			right: 10px;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.carousel-counter {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%);
	}
}
