@import "../../assets/variables.scss";

.housing-details-container {
	padding: $side-padding-small;
	gap: 1rem;
	max-width: $max-width;
	margin: 0 auto;

	@media (width > 768px) {
		gap: 1.875rem;
		padding: $side-padding-medium;
	}

	.housing-details {
		gap: 1rem;
		align-self: stretch;

		@media (width > 768px) {
			flex-direction: row;
			justify-content: space-between;
		}

		.housing-details-top {
			gap: 1rem;
			align-self: flex-start;

			p {
				color: $brand-color;
			}

			p,
			.housing-tags {
				align-self: start;
			}

			.housing-title {
				font-size: $font-size-smedium;
				animation: fade-in-top 1s ease-in-out;

				@media (width>768px) {
					font-size: 2.25rem;
				}
			}

			.housing-location {
				font-size: $font-size-xsmall;
				@media (width>768px) {
					font-size: $font-size-smedium;
				}
			}

			.housing-tags {
				gap: 0.625rem;
				flex-wrap: wrap;
				.tag {
					color: #fff;
					background-color: $brand-color;
					font-size: $font-size-xxsmall;
					border-radius: 0.31rem;
					padding: 0.3rem 1.7rem;
					@media (width>768px) {
						font-size: $font-size-xsmall;
					}
				}
			}
		}
	}

	.housing-location,
	.housing-tags,
	.housing-rating {
		animation: fade-in-bottom 1.2s ease-in-out;
	}

	.housing-infos {
		align-self: stretch;

		@media (width > 768px) {
			flex-direction: column-reverse;
			gap: 1rem;
			align-self: start;
			width: initial;
		}

		.housing-rating {
			@media (width > 768px) {
				gap: 0.5rem;
			}
			.fa-star {
				color: $light-color-d2;

				@media (width > 768px) {
					font-size: 1.3rem;
				}

				&.rated {
					color: $brand-color;
				}
			}
		}
		.housing-host {
			gap: 0.625rem;
			opacity: 0;
			animation: fade-in-right 1s 400ms ease-in-out forwards;

			.host-name {
				max-width: 100px;
				text-align: end;
				color: $brand-color;

				@media (width > 768px) {
					font-size: $font-size-smedium;
				}
			}
			.host-picture {
				border-radius: 50%;
				overflow: hidden;
				width: 32px;
			}
		}
	}

	.dropdown-list {
		gap: 1.25rem;
		align-items: baseline;
		@media (width > 768px) {
			align-self: stretch;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
