@import "../../../assets/variables.scss";

header {
	padding: 1.25rem;
	margin-bottom: 0.5rem;

	nav {
		gap: 1.625rem;
		.nav-link {
			font-size: $font-size-small;
			color: $brand-color;
			text-transform: uppercase;
		}
		.nav-link-active {
			text-decoration: underline;
		}
	}
}
