@import "../../../assets/variables.scss";

header {
	padding: 1.25rem;
	margin-bottom: 0.5rem;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;

	@media (width > 768px) {
		padding: 3rem 2.25rem;
	}

	nav {
		gap: 1.625rem;
		.nav-link {
			font-size: $font-size-small;
			color: $brand-color;
			text-transform: uppercase;

			&.active {
				text-decoration: underline;
			}

			@media (width > 768px) {
				font-size: $font-size-medium;
				text-transform: none;
			}
		}
	}
}
